[alias]
    undo = reset --soft HEAD^
    # via: https://git-scm.com/docs/git-reset#git-reset-emgitresetemltmodegtltcommitgt
    stash-all = stash save --include-untracked
    # via: https://git-scm.com/docs/git-stash
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    # via: https://medium.com/@payload.dd/thanks-for-the-git-st-i-will-use-this-4da5839a21a4

[status]
    showUntrackedFiles = all
    # via: https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[core]
	excludesfile = /Users/faizmokhtar/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	compression = 0

[merge]
    tool = kdiff3
[mergetool]
	keepBackup = false

[user]
	name = Faiz Mokhtar
	email = mfmokhtar@gmail.com
[push]
	default = current
[http]
	cookiefile = /Users/faizmokhtar/.gitcookies
	lowSpeedLimit = 5
	lowSpeedTime = 10000
	postBuffer = 500M
	maxRequestBuffer = 100M


[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/faizmokhtar/.netlify/helper/git-config
[https]
	postBuffer = 1048576000
